

.link {
    margin-left: 10px;
    opacity: 1;
}

.icon {
    fill: var(--inverted-primary-color);
}

.collapsed {
    .link {
        opacity: 0;
        transition: 0.2s opacity;
        width: 0;
    }
}

.item {
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-weight: 600;
}

.collapsed {
    padding: 0 8px;

    .link {
        opacity: 0;
        width: 0;
        margin: 0;
    }
}

.active {
    position: relative;
    color: var(--primary-color);
}