:root {
    --bg-color: #F4f4f4;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #98BF38;
    --secondary-color: #C9C9C9;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
    --navbar-bg: #fff;
    --white: #fff;

    --text-color: #494949;
    --text-black: #000000;
    --border: rgba(73, 73, 73, 0.2);
    --hint: rgba(73, 73, 73, 0.2);
    --cancel: #D95757;
    --save: #6CD98B;
    --icon: #494949;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1212a1;

    // card
    --card-bg: #FBFBFB;
    --button-bg: #F4F4F4;

    // listbox
    --listbox-bg: #0d0d6b;
}
